<div
  class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
>
  <div class="container login-container shadow p-4">
    <h1 class="d-flex justify-content-center">Forgot Password</h1>
    <!-- <form [formGroup]="forgotPasswordForm">
          <div class="mb-5 mt-3">
            <label for="username">Username:</label>
            <input type="email" class="form-control" autocomplete="off" formControlName="username" placeholder="Enter Username" name="username">
            <div *ngIf="formFields.username.invalid && (formFields.username.dirty || formFields.username.touched)"
                class="invalid">

              <div *ngIf="formFields.username.errors?.['required']">
                Username is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-success w-100" [disabled]="!forgotPasswordForm.valid" (click)="onSubmit()">FORGOT PASSWORD</button>
          </div>
          <div class="mb-3">
            <a routerLink="/login" class="link-primary">Back to login</a>
          </div>
        </form> -->
  </div>
</div>
